<!DOCTYPE html>
<html lang="fr">
  <head></head>
  <body>
    <div class="table-responsive">
      <Table responsive>
        <thead>
          <tr>
            <th scope="col"><span>Fil d'actualité</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let voiture of voitures; trackBy: trackId">
            <td>
              <div class="filPrincipal">
                <div class="ficheProduit">
                  <div class="image">
                    <!--Requête pour récupérer l'image-->
                    <img [src]="voiture.image1" height="199.5px" width="355.5px" />
                  </div>

                  <div class="caracteristiqueproduit">
                    <div class="nom">
                      <div class="marque" style="font-weight: bold">
                        {{ voiture.marque }}
                      </div>
                      <div class="model" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="sendvalue(voiture.model)" >
                        <a class="nav-link" routerLink="/article">
                          {{ voiture.model }}

                        </a>
                      </div>
                    </div>
                    <div class="prix">{{ voiture.prix }} €</div>
                    <div class="caracteristiques">
                      <!--<div class="année">
                                  L'année est à ajouter dans le model de voiture.
                              </div>-->
                      <div class="kilometrage">
                        <div>Kilométrage</div>
                        <!--Requête pour obtenir le kilométrage de la voiture-->
                        <div>135 000 km</div>
                      </div>
                      <div class="carburant">
                        <div>Carburant</div>
                        <div>{{ voiture.carburant }}</div>
                      </div>
                      <div class="boiteDeVitesse">
                        <div>Boîte de vitesse</div>
                        <div>{{ voiture.boiteVitesse }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </Table>
    </div>
  </body>
</html>
