<!DOCTYPE html>
<html lang="fr">
  <head></head>
  <body>
    <div class="table-responsive">
      <Table responsive style="width: 100%">
        <thead>
          <tr>
            <th scope="col" style="text-align: center; font-size: 35px; padding-bottom: 15px; border-bottom: solid 2px black">
              <span>Fil d'actualité</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let voiture of voitures; trackBy: trackId">
            <td style="padding-top: 30px">
              <div class="filPrincipal">
                <div class="ficheProduit">
                  <div class="image">
                    <!--Requête pour récupérer l'image-->
                    <img [src]="voiture.image1" height="199.5px" width="355.5px" />
                  </div>

                  <div class="caracteristiqueproduit">
                    <div class="nom">
                      <div class="marque" style="font-weight: bold">
                        {{ voiture.marque }}
                      </div>
                      <div class="model" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link" routerLink="/article">
                          {{ voiture.model }}
                        </a>
                      </div>
                    </div>
                    <div class="prix">{{ voiture.prix }} €</div>
                    <div class="caracteristiques">
                      <!--<div class="année">
                                  L'année est à ajouter dans le model de voiture.
                              </div>-->
                      <div class="kilometrage">
                        <div>Kilométrage</div>
                        <!--Requête pour obtenir le kilométrage de la voiture-->
                        <div>{{ voiture.kilometrage }} km</div>
                      </div>
                      <div class="carburant">
                        <div>Carburant</div>
                        <div>{{ voiture.carburant }}</div>
                      </div>
                      <div class="boiteDeVitesse">
                        <div>Boîte de vitesse</div>
                        <div>{{ voiture.boiteVitesse }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </Table>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 50px">
      <button (click)="afficherplus()" style="border-radius: 10px; margin-right: 10px">Charger plus de voiture</button>
      <button (click)="callService()" style="border-radius: 10px; margin-left: 10px">Revenir au début</button>
    </div>
  </body>
</html>
