<!DOCTYPE html>
<html lang="fr">
  <head></head>
  <body>
    <div class="table-responsive">
      <div scope="col" style="text-align: center; font-size: 35px; padding-bottom: 15px; border-bottom: solid 2px black">
        <span>Fil d'actualité</span>
      </div>
      <div style="display: flex; margin-top: 10px; justify-content: space-between">
        <div
          class="categorie"
          *ngFor="let categorie of listCategorie"
          (click)="getVoitureDeCategorie(categorie)"
          style="width: fit-content; margin-left: 30px"
        >
          {{ categorie }}
        </div>
      </div>
      <Table responsive style="width: 100%">
        <thead></thead>
        <tbody>
          <tr *ngFor="let voiture of voitures; trackBy: trackId">
            <td style="padding-top: 30px">
              <div class="filPrincipal">
                <div class="ficheProduit">
                  <div class="image">
                    <img [src]="voiture.image1" height="199.5px" width="355.5px" (click)="ficheproduit(voiture.id!)" />
                  </div>

                  <div class="caracteristiqueproduit">
                    <div class="nom">
                      <div class="marqueNom" (click)="ficheproduit(voiture.id!)">
                        {{ voiture.marque?.marque }}&nbsp;&nbsp;
                        {{ voiture.model }}
                      </div>
                      <div class="prix" style="color: red; font-weight: bold; font-size: 25px; align-self: right">{{ voiture.prix }} €</div>
                    </div>
                    <div class="caracteristiques">
                      <div class="annees">
                        <div style="font-weight: bold">Années</div>
                        <div>{{ voiture.annees }}</div>
                      </div>

                      <div class="kilometrage">
                        <div style="font-weight: bold">Kilométrage</div>
                        <div>{{ voiture.kilometrage }} km</div>
                      </div>
                      <div class="carburant">
                        <div style="font-weight: bold">Carburant</div>
                        <div>{{ voiture.carburant }}</div>
                      </div>
                      <div class="boiteDeVitesse">
                        <div style="font-weight: bold">Boîte de vitesse</div>
                        <div>{{ voiture.boiteVitesse }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </Table>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 50px">
      <button (click)="afficherplus()" style="border-radius: 10px; margin-right: 10px">Charger plus de voiture</button>
      <button (click)="callService()" *ngIf="affichageCategorie1" style="border-radius: 10px; margin-left: 10px">
        Recharger sans catégorie
      </button>
      <button (click)="callService()" *ngIf="affichageCategorie2" style="border-radius: 10px; margin-left: 10px">Revenir au début</button>
    </div>
  </body>
</html>
