.container 
{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
}

.product-bar
{
    position:relative;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width:70%;
    background-color: #f5f5f5;
}

//nom de voiture
.product-bar .title-bar
{
  position: absolute;
  font-size: 20px;
  font-weight: 900;
}

.product-bar .product-image
{

  width: 35rem;
  height: 25rem;
  object-fit: contain;
  position: relative;
  left: 40px;
}

.product-bar .product-price
{
  position: relative;
  top: 25px;
  font-size: 20px;
  font-weight: 700;
}

.product-bar .product-citeres
{
  display: grid;
  grid-template-areas:
  'detaill detaill detaill detaill'
  'detaill detaill detaill detaill'
  'detaill detaill detaill detaill';
  grid-template-rows: 5rem 5rem 5rem,;//la taille de chaque grid
  grid-gap: 0.2rem;//le intervalle entre des grids
  position:relative;
  top: 45px;
  
}

.product-bar .product-citeres .marque
{
  grid-area: detaill;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-bar .product-citeres .product-marque .title
{
  font-size: 15px;
}

.product-bar .product-citeres .product-marque .contenu
{
  font-size: 16px;
  font-weight: 700;
}

.product-bar .product-description
{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-bar .product-description .title
{
  font-size: 18px;
  font-weight: 700;
}

.product-bar .product-description .detail
{
  font-size: 16px;
}



.toolbar
{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.toolbar .contacter
{
  display: grid;
  
}








  


   
   
   
  
   
  .container .toolbar {
    flex-shrink: 0;
    display: flex;
    width:40%;
    justify-content: space-between;
    align-items: center;
  }
  .toolbar .total-price {
    flex: 0 1 auto;
    margin: 0 1rem;
  }
  .toolbar .pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e02f29;
    color: #fff;
    padding: 0.5rem;
    font-weight: 300;
    flex: 1 1 25%;
    font-size: 1.3rem;
  }
  .total-price .price-section {
    color: #e02f29;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .total-price .price-condition {
    color: #e02f29;
    font-weight: 400;
  }
  .content app-product-amount {
    margin: 0.5rem 1rem;
  }