<div class="confirmationCommande">
  <div class="titre">
    <span class="nom" style="font-weight: bold; font-size: 25px">Ajouter votre carte bancaire</span>
  </div>

  <div class="section">
    <div class="adresse-nom">
      <div class="title">Numéro de carte</div>
      <input class="champ" type="text" placeholder="" />
    </div>

    <div class="adresse-nom">
      <div class="title">Nom sur la carte</div>
      <input class="champ" type="text" placeholder="nom de titulaire" />
    </div>

    <div class="adresse-nom">
      <div class="title">Date de expiration</div>
      <input class="champ" type="text" placeholder="example:jj/mm/année" />
    </div>

    <div class="adresse-nom">
      <div class="title">Code de sécurité(CVV)</div>
      <input class="champ" type="text" placeholder="3 ou 4 chiffre" />
    </div>
  </div>

  <div class="sectionPaiement">
    <button class="paiement">
      <div style="font-weight: bold">Ajouter</div>
    </button>

    <div class="nav-item" display="dynamic" routerLinkActive="active">
      <a class="nav-link" routerLink="/panier">
        <button class="annuler">
          <div style="font-weight: bold">Retour au précédent</div>
        </button>
      </a>
    </div>
  </div>
</div>
