<!DOCTYPE html>
<html lang="fr">
  <head></head>
  <body>
    <div class="table-responsive">
      <Table responsive style="width: 100%">
        <thead>
          <tr>
            <th scope="col" style="text-align: center; font-size: 35px; padding-bottom: 15px; border-bottom: solid 2px black">
              <span>Panier</span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="isEmpty === false">
          <tr *ngFor="let voiture of voitures; trackBy: trackId">
            <td>
              <div class="FicheProduit">
                <div class="image">
                  <img [src]="voiture.image1" height="199.5px" width="355.5px" (click)="ficheproduit(voiture.id!)" />
                </div>
                <div class="caracteristiqueproduit">
                  <div class="nom">
                    <div class="marque" (click)="ficheproduit(voiture.id!)">
                      {{ voiture.marque }}&nbsp;&nbsp;
                      {{ voiture.model }}
                    </div>
                  </div>
                  <div class="caracteristiques">
                    <div class="annees">
                      <div id="nomCarac" style="font-weight: bold">Année</div>
                      <div>{{ voiture.annees }}</div>
                    </div>
                    <div class="kilometrage">
                      <div id="nomCarac" style="font-weight: bold">Kilométrage</div>
                      <div id="carac">{{ voiture.kilometrage }} km</div>
                    </div>
                    <div class="carburant">
                      <div id="nomCarac" style="font-weight: bold">Carburant</div>
                      <div id="carac">{{ voiture.carburant }}</div>
                    </div>
                    <div class="boiteDeVitesse">
                      <div id="nomCarac" style="font-weight: bold">Boîte de vitesse</div>
                      <div id="carac">{{ voiture.boiteVitesse }}</div>
                    </div>
                  </div>
                </div>
                <div class="boutons">
                  <div class="prix">
                    <div id="carac" style="font-size: larger">{{ voiture.prix }} €</div>
                  </div>
                  <button class="boutonSupprimer" (click)="supprimerVoitureChoisite(voiture.id)">Supprimer la voiture du panier</button>
                  <button class="boutonFavoris" (click)="deplaceAuSouhait(voiture.id)">Déplacer vers la liste de souhait</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <div *ngIf="isEmpty === true" style="font-size: 40px; text-align: center; padding-top: 200px; padding-bottom: 400px">
          Oh oh.. on dirait bien que votre panier est vide... Si jamais vous voulez acheter une voiture, ajoutez la dans votre panier pour
          la voir apparaître ici !
        </div>
      </Table>
    </div>
    <div *ngIf="isEmpty === false" class="nav-item" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a *ngIf="isEmpty === false" class="nav-link" routerLink="panierconfirm">
        <button class="boutonValide" type="button">Valider le paiement</button>
      </a>
    </div>
  </body>
</html>
