.Panier,
.caracteristiqueproduit,
.kilometrage,
.carburant,
.boiteDeVitesse,
.boutons {
  display: grid;
}

.FicheProduit,
.nom,
.caracteristiques {
  display: flex;
}

.nom {
  margin-left: 20px;
}
.kilometrage {
  margin-left: 30px;
}

.carburant,
.boiteDeVitesse,
.prix,
.kilometrage {
  margin-left: 100px;
}

.annees {
  margin-left: 40px;
}

.Titre {
  font-size: 40px;
  text-align: center;
}

.FicheProduit {
  background-color: rgb(214, 222, 233);
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 10px;
  padding-left: 35px;
}

#nomCarac {
  font-size: 14px;
}

#carac {
  font-size: 16px;
}

.Commandes {
  display: flex;
}

#toutSelectionner {
  margin-left: 10px;
}

#supprimer,
#deplacerFavoris,
#selectionne {
  margin-left: 70px;
}

.boutonValide {
  color: #fff;
  border-radius: 10%;
  background: #11a331;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  width: 300px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 300;
  font-size: 1.3rem;
}

.boutonValide:hover {
  background: #1ada43;
}

.nav-item {
  margin: 0 auto;
}

.caracteristiqueproduit {
  margin-right: 50px;
}

.boutonSupprimer {
  border-radius: 10px;
  background-color: rgb(231, 80, 80);
}

.boutonFavoris {
  border-radius: 10px;
  background-color: rgb(231, 80, 80);
}

.marque {
  height: min-content;
  font-weight: bold;
}

.marque:hover {
  font-weight: 900;
  cursor: pointer;
}

.image:hover {
  cursor: pointer;
  border: solid 0.5px black;
}
