<div>
  <h2 id="page-heading" data-cy="CarteBancaireHeading">
    <span>Carte Bancaires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-carte-bancaire"
        [routerLink]="['/carte-bancaire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Carte Bancaire </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="carteBancaires?.length === 0">
    <span>No carteBancaires found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="carteBancaires && carteBancaires.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Code</span></th>
          <th scope="col"><span>Expiration</span></th>
          <th scope="col"><span>Prenom</span></th>
          <th scope="col"><span>Nom</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carteBancaire of carteBancaires; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/carte-bancaire', carteBancaire.id, 'view']">{{ carteBancaire.id }}</a>
          </td>
          <td>{{ carteBancaire.code }}</td>
          <td>{{ carteBancaire.expiration | formatMediumDatetime }}</td>
          <td>{{ carteBancaire.prenom }}</td>
          <td>{{ carteBancaire.nom }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/carte-bancaire', carteBancaire.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/carte-bancaire', carteBancaire.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(carteBancaire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
