.container {
  display: flex;
  width: 100%;
}

.ficheProduit {
  display: grid;
  width: 100%;
  background-color: #f5f5f5;
}

.titre {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-top: 10px;
  border-bottom: solid 1px black;
}

.images {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.image {
  max-width: 350px;
  max-height: 200px;
}

.prix {
  width: fit-content;
  margin-left: 10px;
  font-weight: 800;
  font-size: 30px;
  color: red;
  margin-bottom: 15px;
  height: fit-content;
  margin-left: auto;
  margin-right: 20px;
}

.nextBtn:hover,
.preBtn:hover {
  cursor: pointer;
}

.nextBtn,
.preBtn {
  margin: auto;
  height: 20%;
  width: 5%;
}

.criteres {
  margin-left: 20px;
  right: 0;
  display: grid;
  grid-template-areas:
    'detaill detaill detaill detaill'
    'detaill detaill detaill detaill'
    'detaill detaill detaill detaill';
  grid-template-rows: 5rem 5rem 5rem; //la taille de chaque grid
  grid-gap: 0.2rem; //le intervalle entre des grids
  bottom: 10rem;
}

.title {
  font-size: 15px;
}

.contenu {
  font-size: 16px;
  font-weight: 700;
}

.contacter {
  border: solid 1px;
  background-color: #f5f5f5;
}

.telephone {
  margin-right: 3px;
  margin-bottom: 3px;
}

.ajouter {
  display: grid;
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
}

.auPanier,
.auList {
  margin-top: 10px;
}

.toolbar {
  margin-left: 40px;
}
