<!DOCTYPE html>
<html lang="fr">
  <head> </head>
  <body>
    <div class="table-responsive">
      <Table responsive>
        <thead>
          <tr>
            <th scope="col"><span>Confirmation de commande</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let voiture of voitures; trackBy: trackId">
            <td>
              <div class="confirmationCommande">
                <div class="section">
                  <div class="nomVendeur">
                    <span style="font-weight: bold">Nom du vendeur ：</span> Xubeï<!--Requête pour obtenir le nom du vendeur-->
                  </div>

                  <!-- <img src="item.variant.productVarImages[0].imgUrl" alt="" class="product-image"> -->
                  <img [src]="voiture.image1" alt="" class="article-image" height="199.5px" width="355.5px" />

                  <!--Barre de produits Afficher dynamiquement, les produits Le produit sélectionné provient de l'interface précédente-->
                  <div class="article" id="carac">
                    <div class="marqueArticle">
                      <!-- <div class="product-name">{{ item.variant.product.title }}</div> -->
                      <!--Requête pour obtenir la marque de la voiture du panier-->
                      <span style="font-weight: bold">Marque ：</span> {{ voiture.marque }}
                    </div>

                    <div class="modeleArticle" id="carac">
                      <!--Requête pour obtenir le modèle de la voiture du panier-->
                      <span style="font-weight: bold">Modèle ：</span> {{ voiture.model }}
                    </div>

                    <div class="prixArticle" id="carac">
                      <!--<span>{{ item.variant.price | currency: 'CNY' }}</span>-->
                      <!--Requête pour obtenir le prix de la voiture du panier-->
                      <span style="font-weight: bold">Prix：</span> {{ voiture.prix }} €
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <div class="sectionPaiement">
          <div class="prixTotal">
            <span style="font-weight: bold">Paiement total ：</span>
            <span class="prix"> {{ sommeTotale }} € </span>
          </div>

          <button class="paiement" (click)="handlePay()">
            <div style="font-weight: bold">Valider</div>
          </button>

          <div class="nav-item" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/panier">
              <button class="annuler">
                <div style="font-weight: bold">Retour au panier</div>
              </button>
            </a>
          </div>
        </div>
      </Table>
    </div>
  </body>
</html>
