 
.adresse-container
{
    position:relative;
    top:10rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
    background-color: white;
} 
.adresse-citeres {
    display: grid;
    grid-template-areas:
      'detaill detaill '
      'detaill detaill '
      'detaill detaill '
      'detaill detaill ';
    grid-template-rows: 5rem 5rem 5rem; //la taille de chaque grid
    grid-gap: 0.2rem; //le intervalle entre des grids
     
     
  }
  
  .adresse-citeres.adresse-nom {
    grid-area: detaill;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .adresse-citeres.adresse-nom.title {
    font-size: 15px;
  }
  
  .adresse-citeres.adresse-nom.contenu {
    font-size: 16px;
    font-weight: 700;
  }