<!-- <div class="adresse-container">
    <div class="adresse-title"> 
          Adresse 
    </div>
    <div class="indication"> 
          Ajouter votre adress de livraison
    </div>

    <div class="adresse-citeres">
      <div class="adresse-nom">
        <div class="title">Nom</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Prénom</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Batiment,Rue</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Ville</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Code Postal</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Pays</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Adresse Complètement</div>
        <input class="champ" type="text" placeholder="taper votre nom" width = "20rem"/>
      </div>
    </div>
   
    <div class = "toolbar">
      <button class = "button1" style="width: 200px; height: 30px">
        Retour au panier
      </button>

      <button class = "button1" style="width: 200px; height: 30px">
        Annuler
      </button>

      <button class = "button2" style="width: 200px; height: 30px">   
        Ajouter
      </button>
      
    </div>




  </div> -->

<div class="confirmationCommande">
  <div class="titre">
    <span class="nom" style="font-weight: bold; font-size: 25px">Ajouter votre adresse de livraison</span>
  </div>

  <div class="section">
    <div class="adresse-nom">
      <div class="title">Nom</div>
      <input class="champ" type="text" placeholder="taper votre nom" />
    </div>

    <div class="adresse-nom">
      <div class="title">Prénom</div>
      <input class="champ" type="text" placeholder="taper votre prénom" />
    </div>

    <div class="adresse-nom">
      <div class="title">Batiment,Rue</div>
      <input class="champ" type="text" placeholder="la numéro de la route et de batiment,l'étage" />
    </div>

    <div class="adresse-nom">
      <div class="title">Ville</div>
      <input class="champ" type="text" placeholder="" />
    </div>

    <div class="adresse-nom">
      <div class="title">Code Postal</div>
      <input class="champ" type="text" placeholder="taper votre code postal" />
    </div>

    <div class="adresse-nom">
      <div class="title">Pays</div>
      <input class="champ" type="text" placeholder="vos pays ou régions" />
    </div>

    <div class="adresse-nom">
      <div class="title">Adresse Complètement</div>
      <input class="champ" type="text" placeholder="taper votre adresse précis" size="40" />
    </div>
  </div>

  <div class="sectionPaiement">
    <button class="paiement">
      <div style="font-weight: bold">Ajouter</div>
    </button>

    <div class="nav-item" display="dynamic" routerLinkActive="active">
      <a class="nav-link" routerLink="/panier">
        <button class="annuler">
          <div style="font-weight: bold">Retour au panier</div>
        </button>
      </a>
    </div>
  </div>
</div>
