<div class="adresse-container">
    <div class="adress-title"> 
          Adress 
    </div>
    <div class="indication"> 
          Ajouter votre adress de livraison
    </div>

    <div class="adresse-citeres">
      <div class="adresse-nom">
        <div class="title">Nom</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Prénom</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Batiment,Rue</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Ville</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Code Postal</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Pays</div>
        <input class="champ" type="text" placeholder="taper votre nom"/>
      </div>

      <div class="adresse-nom">
        <div class="title">Adresse Complètement</div>
        <input class="champ" type="text" placeholder="taper votre nom" width = "20rem"/>
      </div>
    </div>





  </div>