<div class="searchbar">
  <form class="formulaire">
    <input class="champ" type="text" />
    <!--<input class="bouton" type="button"/>-->
    <button type="button"><img src="../../../content/images/loupe-barre-de-recherche.jpg" height="30" width="30" /></button>
  </form>
</div>
<div style="padding-top: 30px; padding-bottom: 20px; text-align: center; font-size: 25px">Les dernières nouveautés</div>
<div class="nouveaute">
  <div class="voiture">
    <div class="voiture1">
      <div class="nom">
        <div class="marque" (click)="ficheproduit(voiture1.id!)">
          {{ voiture1.marque!.marque }}&nbsp;&nbsp;
          {{ voiture1.model }}
        </div>
      </div>
      <div class="prix" style="text-align: center">{{ voiture1.prix }} €</div>
      <div class="image" (click)="ficheproduit(voiture1.id!)">
        <img [src]="voiture1.image1" height="199.5px" width="355.5px" />
      </div>
      <div class="boutonChoix">
        <button class="boutonPanier" (click)="btnAction(voiture1)">Ajouter dans mon panier</button>
        <button class="boutonListeSouhait" (click)="btnActionSouhait(voiture1)">Ajouter dans ma liste de souhait</button>
      </div>
    </div>
    <div class="espacehorizontal" style="width: 200px"></div>
    <div class="voiture1">
      <div class="nom">
        <div class="marque" (click)="ficheproduit(voiture2.id!)">
          {{ voiture2.marque!.marque }}&nbsp;&nbsp;
          {{ voiture2.model }}
        </div>
      </div>
      <div class="prix" style="text-align: center">{{ voiture2.prix }} €</div>
      <div class="image" (click)="ficheproduit(voiture2.id!)">
        <img [src]="voiture2.image1" height="199.5px" width="355.5px" />
      </div>
      <div class="boutonChoix">
        <button class="boutonPanier" (click)="btnAction(voiture2)">Ajouter dans mon panier</button>
        <button class="boutonListeSouhait" (click)="btnActionSouhait(voiture2)">Ajouter dans ma liste de souhait</button>
      </div>
    </div>
  </div>
  <div class="espacevertical" style="height: 80px"></div>
  <div class="voiture">
    <div class="voiture2">
      <div class="image" (click)="ficheproduit(voiture3.id!)">
        <img [src]="voiture3.image1" height="199.5px" width="355.5px" />
      </div>
      <div class="prix" style="text-align: center">{{ voiture3.prix }} €</div>
      <div class="nom">
        <div class="marque" (click)="ficheproduit(voiture3.id!)">
          {{ voiture3.marque!.marque }}&nbsp;&nbsp;
          {{ voiture3.model }}
        </div>
      </div>
      <div class="boutonChoix">
        <button class="boutonPanier" (click)="btnAction(voiture3)">Ajouter dans mon panier</button>
        <button class="boutonListeSouhait" (click)="btnActionSouhait(voiture3)">Ajouter dans ma liste de souhait</button>
      </div>
    </div>
    <div class="espacehorizontal" style="width: 200px"></div>
    <div class="voiture2">
      <div class="image" (click)="ficheproduit(voiture4.id!)">
        <img [src]="voiture4.image1" height="199.5px" width="355.5px" />
      </div>
      <div class="prix" style="text-align: center">{{ voiture4.prix }} €</div>
      <div class="nom">
        <div class="marque" (click)="ficheproduit(voiture4.id!)">
          {{ voiture4.marque!.marque }}&nbsp;&nbsp;
          {{ voiture4.model }}
        </div>
      </div>
      <div class="boutonChoix">
        <button class="boutonPanier" (click)="btnAction(voiture4)">Ajouter dans mon panier</button>
        <button class="boutonListeSouhait" (click)="btnActionSouhait(voiture4)">Ajouter dans ma liste de souhait</button>
      </div>
    </div>
  </div>
  <!--<div class="espacevertical" style="height: 100px"></div>-->
</div>
