.searchbar {
  display: flex;
  justify-content: center;
}
.formulaire {
  display: flex;
  justify-content: center;
  width: 100%;
}
.champ {
  width: 50%;
}

button {
  padding: 0;
  border-left: 1px solid #a9a9b4;
  border-bottom: 1px solid #a9a9b4;
  border-top: 1px solid #a9a9b4;
  border-right: 1px solid #a9a9b4;
}

button:hover {
  border-left: 1px solid #676774;
  border-bottom: 1px solid #676774;
  border-top: 1px solid #676774;
  border-right: 1px solid #676774;
}

.nouveaute {
  display: grid;
  justify-content: center;
}

.voiture {
  display: flex;
}

.voiture1 {
  display: grid;
}

.voiture2 {
  display: grid;
}

.nom {
  display: flex;
  justify-content: center;
  height: min-content;
  font-weight: bold;
}

.prix {
  font-size: 25px;
}

.boutonChoix {
  display: grid;
}

.nom:hover {
  font-weight: 750;
  cursor: pointer;
}

.image:hover {
  cursor: pointer;
  border: solid 0.5px black;
}

#imageVoiture {
  width: 100%;
  height: 100%;
}

.image {
  height: 199.5px;
  width: 100%;
}
