<div class="searchbar">
  <form class="formulaire">
    <input class="champ" type="text" />
    <!--<input class="bouton" type="button"/>-->
    <button type="button"><img src="../../../content/images/loupe-barre-de-recherche.jpg" height="30" width="30" /></button>
  </form>
</div>
<div style="padding-top: 30px; padding-bottom: 20px; text-align: center; font-size: 25px">Les dernières nouveautés</div>
<div class="nouveaute">
  <div class="voiture">
    <div class="voiture1">
      <div class="nom">
        <div class="marque" style="font-weight: bold">
          <!--Requête pour obtenir la marque de la voiture-->
          Mercedes-Benz&nbsp;
        </div>
        <div class="modele" style="font-weight: bold">
          <!--Requête pour obtenir le modèle de la voiture-->
          amg c63 gt s
        </div>
      </div>
      <div class="prix" style="text-align: center">
        <!--Requete pour obtenir le prix-->
        199 999€
      </div>
      <div class="image">
        <!--Requête pour récupérer l'image-->
        <img src="../../../content/images/amg-c63-gt.jpg" height="199.5px" width="355.5px" />
      </div>
    </div>
    <div class="espacehorizontal" style="width: 150px"></div>
    <div class="voiture1">
      <div class="nom">
        <div class="marque" style="font-weight: bold">
          <!--Requête pour obtenir la marque de la voiture-->
          Mercedes-Benz&nbsp;
        </div>
        <div class="modele" style="font-weight: bold">
          <!--Requête pour obtenir le modèle de la voiture-->
          amg c63 gt s
        </div>
      </div>
      <div class="prix" style="text-align: center">
        <!--Requete pour obtenir le prix-->
        199 999€
      </div>
      <div class="image">
        <!--Requête pour récupérer l'image-->
        <img src="../../../content/images/amg-c63-gt.jpg" height="199.5px" width="355.5px" />
      </div>
    </div>
  </div>
  <div class="espacevertical" style="height: 100px"></div>
  <div class="voiture">
    <div class="voiture2">
      <div class="image">
        <!--Requête pour récupérer l'image-->
        <img src="../../../content/images/amg-c63-gt.jpg" height="199.5px" width="355.5px" />
      </div>
      <div class="prix" style="text-align: center">
        <!--Requete pour obtenir le prix-->
        199 999€
      </div>
      <div class="nom">
        <div class="marque" style="font-weight: bold">
          <!--Requête pour obtenir la marque de la voiture-->
          Mercedes-Benz&nbsp;
        </div>
        <div class="modele" style="font-weight: bold">
          <!--Requête pour obtenir le modèle de la voiture-->
          amg c63 gt s
        </div>
      </div>
    </div>
    <div class="espacehorizontal" style="width: 150px"></div>
    <div class="voiture2">
      <div class="image">
        <!--Requête pour récupérer l'image-->
        <img src="../../../content/images/amg-c63-gt.jpg" height="199.5px" width="355.5px" />
      </div>
      <div class="prix" style="text-align: center">
        <!--Requete pour obtenir le prix-->
        199 999€
      </div>
      <div class="nom">
        <div class="marque" style="font-weight: bold">
          <!--Requête pour obtenir la marque de la voiture-->
          Mercedes-Benz&nbsp;
        </div>
        <div class="modele" style="font-weight: bold">
          <!--Requête pour obtenir le modèle de la voiture-->
          amg c63 gt s
        </div>
      </div>
    </div>
  </div>
  <div class="espacevertical" style="height: 100px"></div>
</div>
