<div>
  <h2 id="page-heading" data-cy="SouhaitHeading">
    <span>Souhaits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-souhait"
        [routerLink]="['/souhait/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Souhait </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="souhaits?.length === 0">
    <span>No souhaits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="souhaits && souhaits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Utilisateur</span></th>
          <th scope="col"><span>Voitures</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let souhait of souhaits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/souhait', souhait.id, 'view']">{{ souhait.id }}</a>
          </td>
          <td>
            <div *ngIf="souhait.utilisateur">
              <a [routerLink]="['/utilisateur', souhait.utilisateur?.id, 'view']">{{ souhait.utilisateur?.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let voitures of souhait.voitures; let last = last">
              <a class="form-control-static" [routerLink]="['/voiture', voitures.id, 'view']">{{ voitures.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/souhait', souhait.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/souhait', souhait.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(souhait)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
