.content {
  height: 3rem;
  width: 30rem;
  background-color: rgb(84, 167, 245);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px 5px 5px 5px;
}

.message {
  color: rgb(241, 239, 239);
  position: relative;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
