.filPrincipal,
.caracteristiqueproduit,
.kilometrage,
.carburant,
.boiteDeVitesse,
.boutons {
  display: grid;
}

.ficheProduit,
.nom,
.caracteristiques {
  display: flex;
}
.filPrincipal {
  justify-content: center;
}

.kilometrage,
.nom,
.prix,
.annees {
  margin-left: 25px;
}

.carburant,
.boiteDeVitesse {
  margin-left: 35px;
}

.image:hover {
  cursor: pointer;
  border: solid 0.5px black;
}

.boutons {
  height: 10%;
  margin-left: 20px;
}
button {
  border-radius: 10%;
}

.marque {
  height: min-content;
  font-weight: bold;
}

.marque:hover {
  font-weight: 750;
  cursor: pointer;
}

.image:hover {
  cursor: pointer;
  border: solid 0.5px black;
}
