<!DOCTYPE html>
<html lang="fr">
  <head></head>
  <body>
    <div class="table-responsive">
      <Table responsive>
        <thead>
          <tr>
            <th scope="col"><span>Liste de souhait</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let voiture of voitures; trackBy: trackId">
            <td>
              <div class="filPrincipal">
                <div class="ficheProduit">
                  <div class="image">
                    <img [src]="voiture.image1" height="199.5px" width="355.5px" />
                  </div>
                  <div class="caracteristiqueproduit">
                    <div class="nom">
                      <div class="marque" style="font-weight: bold">
                        {{ voiture.marque }}
                      </div>
                      <div class="modele" style="font-weight: bold">
                        {{ voiture.model }}
                      </div>
                    </div>
                    <div class="prix">
                      <div id="carac" style="font-size: larger">{{ voiture.prix }} €</div>
                    </div>
                    <div class="caracteristiques">
                      <div class="année">{{ voiture.annees}}</div>
                      <div class="kilometrage">
                        <div>Kilométrage</div>
                        <div>135 000 km</div>
                      </div>
                      <div class="carburant">
                        <div>Carburant</div>
                        <div>Essence</div>
                        <div id="carac">{{ voiture.carburant }}</div>
                      </div>
                      <div class="boiteDeVitesse">
                        <div>Boîte de vitesse</div>
                        <div>automatique</div>
                        <div id="carac">{{ voiture.boiteVitesse }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="boutons">
                    <button class="boutonAjouterPanier" type="button" style="margin-bottom: 10px; margin-top: 20px"(click)="deplacerAuPanier(voiture)" >
                      Deplacer vers le panier
                    </button>
                    <button class="boutonSupprimerListeSouhait"(click)="supprimerVoiture(voiture.id)">Supprimer de la liste de souhait</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </Table>
    </div>
  </body>
</html>
